<div *ngIf="listing" class="listing-page-container">
  <div class="listing-header">
    <h1>{{ listing.title }}</h1>
    <div class="user-info" (click)="navigateToUserProfile()">
      <div class="picture-name">
        <img *ngIf="!user.profilePicture" src="./assets/template_profile_picture.png" alt="{{ user.username }}" class="user-pic">
        <img *ngIf="user.profilePicture" [src]="user.profilePicture | bytesToImage" alt="{{ user.username }}" class="user-pic">
        <div class="user-details">
          <p>{{ user.username }}</p>
          <p class="user-rating">Rating ⭐️ {{ user.rating  ||  'N/A' }} </p>
        </div>
      </div>
      <button class="send-message-button" (click)="sendMessage()" *ngIf="!listing.myListing">
        Trimite mesaj <mat-icon>message</mat-icon>
      </button>
    </div>
  </div>

  <div class="listing-content">
    <div class="image-modal-container">
      <app-image-modal *ngIf="listing" [images]="pictures"></app-image-modal>
    </div>

    <div class="listing-details">
      <h2>Detalii</h2>
      <div class="details-column">
        <div class="detail-item">
          <span class="detail-title">Rating</span>
          <span class="detail-value" *ngIf="listing.rating !== 0">{{ (listing.rating | number : '2.2') }} <mat-icon>star</mat-icon> </span>
          <span class="detail-value" *ngIf="listing.rating === 0">N/A</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Preț pe zi:</span>
          <span class="detail-value">{{ listing.price | currency:'RON':'symbol':'1.2-2' }}</span>
        </div>
        <div class="detail-item" *ngIf="listing.monthlyPrice">
          <span class="detail-title">Preț lunar:</span>
          <span class="detail-value">{{ listing.monthlyPrice | currency:'RON':'symbol':'1.2-2' }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Sector:</span>
          <span class="detail-value">{{ listing.sector }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Locație:</span>
          <span class="detail-value">{{ listing.location }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data de început:</span>
          <span class="detail-value">{{ listing.startDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data de sfârșit:</span>
          <span class="detail-value">{{ listing.endDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Număr loc de parcare:</span>
          <span class="detail-value">{{ listing.parkingSpotSlotNumber }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data publicării:</span>
          <span class="detail-value">{{ listing.publishingDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Închiriere pe termen lung:</span>
          <span class="detail-value">{{ listing.longTermRent ? 'Da' : 'Nu' }}</span>
        </div>
        <div *ngIf="listing.currentCarNumber" class="detail-item">
          <span class="detail-title">Parcheaza  :</span>
          <span class="detail-value">{{ listing.currentCarNumber }}</span>
        </div>
        <div *ngIf="!listing.currentCarNumber" class="detail-item">
          <span class="detail-title">Nu exista nicio masina parcata pe acest loc</span>
        </div>

      </div>
    </div>
  </div>
  <div class="status" [ngClass]="{
        'status-active': listing.status === 'ACTIVE',
        'status-deactivated': listing.status === 'DEACTIVATED',
        'status-pending': listing.status === 'PENDING'
      }">
    Status : {{ listing.status | translateStatus }}
  </div>

  <div class="listing-description">
    <h2>Descriere</h2>
    <p>{{ listing.description }}</p>
  </div>

  <div class="map-container">
    <h2>Localizare pe hartă</h2>
<!--    <google-map [options]="mapOptions">-->
<!--      <map-marker [position]="marker.position"></map-marker>-->
<!--    </google-map>-->
  </div>

  <button *ngIf="!listing.myListing" class="rent-button" (click)="openRentDialog()" >
    Închiriază acest loc de parcare <mat-icon>done_outline</mat-icon>
  </button>
  <div class="feedback-section">
    <h2>Feedback-uri</h2>
    <p>Consultați feedback-urile altor utilizatori pentru acest anunț. Puteți filtra feedback-urile în funcție de numărul de stele acordate.</p>

    <div class="filter-section">
      <mat-form-field appearance="fill">
        <mat-label>Filtrează după rating</mat-label>
        <mat-select (selectionChange)="filterFeedbacks($event)">
          <mat-option *ngFor="let rating of ratings" [value]="rating">{{ rating }} stele</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="feedback-container">
      <div *ngFor="let feedback of filteredFeedbacks" class="feedback-card">
        <div class="feedback-header">
          <small>Postat pe {{ feedback.publishingDate}}</small>
        </div>
        <div class="feedback-body">
          <img *ngIf="!feedback.userProfilePicture" src="./assets/template_profile_picture.png" alt="{{ user.username }}" class="user-pic" (click)="navigateToProfile(feedback.authorUUID)">
          <img *ngIf="feedback.userProfilePicture" [src]="feedback.userProfilePicture | bytesToImage" alt="{{ user.username }}" class="user-pic" (click)="navigateToProfile(feedback.authorUUID)">
          <div class="feedback-rating">
            <mat-icon>star</mat-icon> {{ feedback.ratingGiven }}
          </div>
          <p>{{ feedback.message }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!listing" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
