<div *ngIf="listing" class="listing-page-container">
  <div class="listing-header">
    <h1>{{ listing.title }}</h1>
    <div class="user-info" (click)="navigateToUserProfile()">
      <div class="picture-name">
        <img *ngIf="!user.profilePicture" src="./assets/template_profile_picture.png" alt="{{ user.username }}" class="user-pic">
        <img *ngIf="user.profilePicture" [src]="user.profilePicture | bytesToImage" alt="{{ user.username }}" class="user-pic">
        <div class="user-details">
          <p>{{ user.username }}</p>
          <p class="user-rating">Rating ⭐️ {{ user.rating }}</p>
        </div>
      </div>
      <button class="send-message-button" (click)="sendMessage()" *ngIf="!listing.myListing">
        Trimite mesaj <mat-icon>message</mat-icon>
      </button>
    </div>
  </div>

  <div class="listing-content">
    <div class="image-modal-container">
      <app-image-modal *ngIf="listing" [images]="pictures"></app-image-modal>
    </div>

    <div class="listing-details">
      <h2>Detalii</h2>
      <div class="details-column">
        <div class="detail-item">
          <span class="detail-title">Preț pe zi:</span>
          <span class="detail-value">{{ listing.price | currency:'RON':'symbol':'1.2-2' }}</span>
        </div>
        <div class="detail-item" *ngIf="listing.monthlyPrice">
          <span class="detail-title">Preț lunar:</span>
          <span class="detail-value">{{ listing.monthlyPrice | currency:'RON':'symbol':'1.2-2' }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Sector:</span>
          <span class="detail-value">{{ listing.sector }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Locație:</span>
          <span class="detail-value">{{ listing.location }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data de început:</span>
          <span class="detail-value">{{ listing.startDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data de sfârșit:</span>
          <span class="detail-value">{{ listing.endDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Număr loc de parcare:</span>
          <span class="detail-value">{{ listing.parkingSpotSlotNumber }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Data publicării:</span>
          <span class="detail-value">{{ listing.publishingDate | date }}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Închiriere pe termen lung:</span>
          <span class="detail-value">{{ listing.longTermRent ? 'Da' : 'Nu' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="listing-description">
    <h2>Descriere</h2>
    <p>{{ listing.description }}</p>
  </div>

<!--  <div class="map-container">-->
<!--    <h2>Localizare pe hartă</h2>-->
<!--    <google-map [options]="mapOptions">-->
<!--      <map-marker [position]="marker.position"></map-marker>-->
<!--    </google-map>-->
<!--  </div>-->

  <button *ngIf="!listing.myListing" class="rent-button" (click)="openRentDialog()">
    Închiriază acest loc de parcare <mat-icon>done_outline</mat-icon>
  </button>
  <button *ngIf="listing.myListing" class="rent-button" (click)="openRentDialog()">
    Schimbă statusul anunțului <mat-icon>done_outline</mat-icon>
  </button>
</div>

<div *ngIf="!listing" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
