.chat-list-container {
  width: 30%;
  height: 87vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.chat-list-item:hover {
  background-color: #f9f9f9;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-username {
  font-weight: bold;
}

.chat-last-message {
  color: #888;
}

.unread-indicator {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  align-self: flex-end;
  margin-left: auto;
}
