<div class="chat-list-container">
  <div *ngFor="let chat of minimalChats" (click)="openChat(chat)" class="chat-list-item">
    <img *ngIf="chat.otherUserProfilePicture" class="profile-image" [src]="chat.otherUserProfilePicture | bytesToImage" alt="Profile Image">
    <img *ngIf="!chat.otherUserProfilePicture" class="profile-image" src="assets/template_profile_picture.png" alt="Profile Image">

    <div class="chat-details">
      <div class="chat-username">{{ chat.otherUsername }}</div>
      <div *ngIf="chat.lastMessage" class="chat-last-message">{{ chat.lastMessage }}</div>
      <div *ngIf="chat.hasUnreadMessages" class="unread-indicator"></div>
    </div>
  </div>
</div>
