.listing-form {
  max-width: 740px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.listing-form div {
  margin-bottom: 12px;
}

.listing-form label {
  display: block;
  margin-bottom: 4px;
}

.listing-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
textarea{
  width: 100%
}
.sector{
  width: 7%;
}
.long-term-rent{
  display: flex;
  align-items: center;
}
.listing-form button {
  padding: 2px 2px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.listing-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

google-map {
  margin-bottom: 12px;
}
.preview-image.selected {
  border: 2px solid red;
}
.example-image-selected{
  border: 2px solid red;

}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.preview-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.preview-wrapper {
  position: relative;
  margin: 10px;
}
.main-picture-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 2px 5px;
}
.info-images{
  margin-left: 10px;
}
.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.info-icon{
  margin-left: 20px;
}
.info-popup {
  position: absolute;
  top: 70%;
  left: 62%;
  transform: translateX(-50%);
  width: auto;
  padding: 10px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 100;
}
.price-pop-up{
  position: absolute;
  transform: translateX(-50%);
  width: auto;
  padding: 10px;
  top: 750px;
  left: 50%;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 100;
}
