<div class="listing-form">
  <form [formGroup]="listingForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="title">Titlul anuntului:</label>
      <input id="title" formControlName="title">
    </div>


    <div>
      <label for="description">Descriere scurta:</label>
      <textarea id="description" formControlName="description" rows="5"></textarea>
    </div>


    <div class="form-field">
      <label for="startDate">Data de la care locul de parcare va fi disponibil</label>
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" id="startDate" [min]="todayDate()" (dateChange)="updateEndDateMin($event.value)">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="endDate">Data până la care locul de parcare e liber:</label>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" id="endDate" [disabled]="listingForm.get('indefinitePeriod')?.value" [min]="minEndDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-field">
      <label>
        <mat-checkbox formControlName="longTermRent" id="longTermRent" class="styled-checkbox" (click)="toggleLongPeriod()" >Sunt de acord cu inchirierea pentru perioade lungi de timp:</mat-checkbox>
      </label>
    </div>

    <div *ngIf="longPeriod">
      <div class="same-row">
        <label for="monthlyPrice">Pret lunar (ron/luna)</label>
        <div class="info-icon" (mouseenter)="showPricePopup()" (mouseleave)="hidePricePopup()">
          <p  *ngIf="pricePopUpVisible">Puteti considera aplicarea un discount fata de pretul zilnic</p>
          <mat-icon>help</mat-icon>
        </div>
      </div>
      <input id="monthlyPrice" formControlName="monthlyPrice" type="number">
    </div>


    <div>
      <label for="sector">Sector:</label>
      <select id="sector" formControlName="sector" class="sector">
        <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
      </select>
    </div>
    <div>
      <label for="location">Locatia exacta (nume strada + numar):</label>
      <input id="location" formControlName="location">
    </div>

    <div>
      <label for="parkingSpotSlotNumber">Numarul locului de parcare:</label>
      <input id="parkingSpotSlotNumber" formControlName="parkingSpotSlotNumber" type="number">
    </div>

    <div>
      <label for="price">Pret: (ron/zi)</label>
      <input id="price" formControlName="price" type="number">
    </div>

    <div >
      <div class="same-row">Fotografii:
        <div class="preview-container">
          <div class="info-icon" (mouseenter)="showInfoPopup()" (mouseleave)="hideInfoPopup()">
            <mat-icon>help</mat-icon>
            <div class="info-popup" *ngIf="infoPopupVisible">
              <h1>Cum selectez imaginea principala?</h1>
              <p>Imaginea principala (ce va aparea pe pagina principala a anuntului) va fi afisata cu margini roșii. Pentru a schimba imaginea, apăsați pe poza dorită.</p>
              <div class="info-images">
              <img src="./assets/template_main_picture.jpeg" alt="Exemplu de imagine selectată" class="example-image" style="width:225px; height: 225px">
              <div class="main-picture-label">Imaginea principala</div>
              <img src="./assets/template_main_picture.jpeg" alt="Exemplu de imagine selectată" class="example-image-selected" style="width:225px; height: 225px">
              <img src="./assets/template_main_picture.jpeg" alt="Exemplu de imagine selectată" class="example-image" style="width:225px; height: 225px">
              </div>

            </div>
          </div>
        </div>
      </div>
      <ngx-file-drop dropZoneLabel="Adauga fotografii cu drag and drop aici" (onFileDrop)="onFileDrop($event)">
        <p>Adauga fotografii cu drag and drop aici</p>
      </ngx-file-drop>

      <div class="preview-container">
        <div *ngFor="let picture of previewPictures; let i = index" class="preview-wrapper">
          <img [src]="picture"
               class="preview-image"
                 [ngClass]="{'selected': mainPictureIndex === i}"
               alt=""
               (click)="makeMainPicture(i)">
          <div class="remove-btn"  (click)="removePicture(i)"> <mat-icon>close</mat-icon></div>

        </div>
      </div>
    </div>

    <div>
      <label for="fileInput">Sau incarca din pozele salvate:</label>
      <input type="file" id="fileInput" accept="image/*" (change)="onFileInputChange($event)">
    </div>

    <div>
<!--      <google-map height="400px" width="100%" [options]="mapOptions" (mapClick)="onMapClick($event)">-->
<!--        <map-marker [position]="marker.position"></map-marker>-->
<!--      </google-map>-->
    </div>


    <button type="button" (click)="confirmLocation()">Locatie corecta</button>

    <button type="submit" [disabled]="listingForm.invalid">Adauga anunt</button>

  </form>
</div>
<div *ngIf="loading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
