<h2 mat-dialog-title>Confirmare Închiriere</h2>
<div mat-dialog-content>
  <form [formGroup]="bookingForm">
    <mat-form-field>
      <mat-label>Data de start</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate" [matDatepickerFilter]="dateFilter" >
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Data de final</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate" [matDatepickerFilter]="endDateFilter" >
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Durata</mat-label>
      <mat-select formControlName="duration">
        <mat-option value="1" [disabled]="!data.listing.longTermRent">1 lună</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Numarul masinii (ex B100AAA)</mat-label>
            <input matInput id="carNumber" formControlName="carNumber" >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Anulare</button>
  <button type="submit" mat-raised-button color="primary" [disabled]="bookingForm.invalid" (click)="onConfirm()">Spre plata</button>
</div>
