<!-- image-modal.component.html -->
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Imaginea : {{ currentIndex + 1 }}/{{ totalImages }}</h4>
      <div class="info-icon" (mouseenter)="showInfoPopup()" (mouseleave)="hideInfoPopup()">
        <mat-icon>help</mat-icon>
        <div class="info-popup" *ngIf="infoPopupVisible">
          <p>Faceti click pe imagine pentru a o mari</p>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <img  [src]="currentImage | bytesToImage" class="img-fluid" (click)="toggleFullScreen(currentImage)" alt="">
<!--      <img *ngIf="isFullScreen" [src]="currentImage | bytesToImage" class="img-fluid" (click)="toggleFullScreen(currentImage)" alt="">-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="prevImage()" [disabled]="currentIndex === 0">Prev</button>
      <button type="button" class="btn btn-secondary" (click)="nextImage()" [disabled]="currentIndex === totalImages - 1">Next</button>
    </div>
  </div>
</div>
