<nav class="navbar">
  <div class="navbar-logo" routerLink="/">
    <img src="../../assets/logo_am_parcat.jpg" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/users" class="btn btn-info">Users</a></li>
    <li><a routerLink="/inregistrare" class="btn btn-info">Înscrie-te</a></li>
    <li><a routerLink="/listings" class="btn btn-info">Anunturi</a></li>
    <li><a routerLink="/add-listing" class="btn btn-info" >Adauga un loc de parcare</a></li>
    <li><a routerLink="/my-listings" class="btn btn-info" >Anunturile mele</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register" class="btn btn-info" >Inregistreaza-te</a></li>



  </ul>
  <div class="navbar-actions">
    <app-profile-dropdown></app-profile-dropdown>

  </div>

</nav>
