<nav class="navbar">
  <div class="navbar-logo" routerLink="/">
    <img src="../../assets/logo_am_parcat.jpg" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/users" class="btn btn-info">Cei mai apreciati utilizatori <mat-icon>whatshot</mat-icon></a></li>
    <li><a routerLink="/listings" class="btn btn-info">Cauta un loc de parcare <mat-icon>airport_shuttle</mat-icon></a></li>
    <li><a routerLink="/add-listing" class="btn btn-info" >Adauga un loc de parcare <mat-icon>add_box</mat-icon></a></li>
    <li><a routerLink="/my-listings" class="btn btn-info">Anunturile mele <mat-icon> border_color</mat-icon></a></li>
    <li><a routerLink="/rented-listings" class="btn btn-info">Vezi locurile inchiriate <mat-icon>remove_red_eye</mat-icon></a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register" class="btn btn-info" >Inregistreaza-te</a></li>



  </ul>
  <div class="navbar-actions">
    <app-profile-dropdown></app-profile-dropdown>

  </div>

</nav>
