<div class="map-container">
  <h2>Localizare pe hartă</h2>
  <google-map #map [options]="mapOptions" style="height: 100vh; width: 100%;">
    <map-marker *ngFor="let marker of markers"
                [position]="marker.position"
                (mapClick)="onMarkerClick(marker, map.googleMap)">
    </map-marker>
  </google-map>

  <ng-template #infoWindowTemplate let-marker="marker">
    <div class="info-window">
      <img [src]="marker.listing.mainPicture | bytesToImage" alt="Listing Image" style="width: 50px; height: 50px;">
      <p>Title: {{ marker.listing.title }}</p>
      <p>Price: {{ marker.listing.price }}</p>
<!--      <button (click)="navigateToListing(marker.listing.listingUUID)">View Details</button>-->
    </div>
  </ng-template>
</div>
