.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}



.map-container:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.info-window {
  display: flex;
  align-items: center;
}

.info-window img {
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.info-window img:hover {
  transform: scale(1.1);
}
