  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 87vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
    width: 70%;
  }

  .chat-title {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }

  .messages-container {
    flex: 1;
    overflow-y: auto;
    background-color: #e5ddd5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }

  .message-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .message-input-container input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
  }

  .message-input-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
  }

  .message-input-container button:hover {
    background-color: #45a049;
  }

  .message-bubble {
    display: flex;
    align-items: center;
    margin: 10px 0;
    max-width: 80%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
  }

  .message-content {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }

  .my-message .message-content {
    background-color: #dcf8c6;
    color: #000;
    align-self: flex-end;
  }

  .other-message .message-content {
    background-color: #fff;
    color: #000;
    margin-left: 10px;
    align-self: flex-start;
  }

  .profile-image-container {
    display: flex;
    align-items: center;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .my-message {
    justify-content: flex-end;
    margin-left: auto;
  }

  .other-message {
    justify-content: flex-start;
    margin-right: auto;
  }



  .my-message .message-content::after {
    border-width: 10px 10px 0 0;
    border-color: #dcf8c6 transparent transparent transparent;
    bottom: 0;
    right: 10px;
    transform: translateY(50%);
  }

  .other-message .message-content::after {
    border-width: 0 10px 10px 0;
    border-color: transparent transparent #fff transparent;
    top: 0;
    left: -10px;
    transform: translateY(-50%);
  }
