<div *ngIf="chatResponse || adminGenericChat">
  <div class="chat-container">
    <h2 *ngIf="!adminGenericChat" class="chat-title">Conversatia cu {{ chatResponse.otherUserName }}</h2>
    <h2 *ngIf="adminGenericChat" class="chat-title">Echipa Parco</h2>

    <div #messagesContainer class="messages-container">
      <div *ngFor="let message of chatResponse.messages"
           [ngClass]="{'my-message': !isCurrentUserMessage(message) && !adminGenericChat, 'other-message': isCurrentUserMessage(message) || adminGenericChat}" class="message-bubble">
        <div *ngIf="isCurrentUserMessage(message) || adminGenericChat" class="profile-image-container">
          <img *ngIf="adminGenericChat" class="profile-image" src="assets/logo_am_parcat.jpg" alt="Profile Image">
          <img *ngIf="!adminGenericChat && chatResponse.otherUserProfileImage" class="profile-image" (click)="goToUserProfile()" [src]="chatResponse.otherUserProfileImage | bytesToImage" alt="Profile Image">
          <img *ngIf="!adminGenericChat && !chatResponse.otherUserProfileImage" class="profile-image" (click)="goToUserProfile()" src="./assets/template_profile_picture.png" alt="Profile Picture">
        </div>
        <div class="message-content">{{ message.messageContent }}</div>
      </div>
    </div>
    <div class="message-input-container">
      <input [(ngModel)]="newMessage" placeholder="Scrie un mesaj" (keyup.enter)="sendMessage()" [disabled]="adminGenericChat" />
      <button (click)="sendMessage()" [disabled]="adminGenericChat">Trimite</button>
    </div>
  </div>
</div>
<div *ngIf="!chatResponse" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
