<div *ngIf="myProfile">
    <div class="cards-container">
      <div class="card text-white  mb-3">
          <div class="card-header">Profilul meu</div>
        <div class="same-row">
          <div class="round-image-container">
            <img mat-card-image class="profile-picture" *ngIf="myProfile.hasProfilePicture" [src]="myProfile.profilePictureBytes | bytesToImage " alt="Profile Picture">
            <img mat-card-image class="profile-picture" *ngIf="!myProfile.hasProfilePicture" src="./assets/template_profile_picture.png" alt="Profile Picture">
          </div>
          <input #fileInput type="file" accept="image/*" (change)="selectFile($event)" style="display: none;" />

          <button mat-mini-fab matTooltip="Modifica fotografia de profil" color="primary" (click)="toggleFileInput()">
            <mat-icon>border_color</mat-icon>
          </button>
        </div>
          <div class="card-body">
            <h5 class="card-title">{{ myProfile.username }}</h5>
            <ng-container *ngIf="myProfile.rating !== 0; else noRatingBlock">
              <p class="card-text" > Rating : {{ myProfile.rating }}<mat-icon>star</mat-icon></p>
              <button mat-fab extended color="primary" (click)="showUserFeedbacks()">
                Feedback-uri primite
                <mat-icon>whatshot</mat-icon>
              </button>
            </ng-container>
            <ng-template #noRatingBlock>
              <p class="card-text">Inca nu ati primit niciun feedback<mat-icon>sentiment_dissatisfied</mat-icon></p>
            </ng-template>

          </div>
        </div>
      <ng-container *ngIf="!isEditMode ; else editMode">
      <div class="user-info-card">
        <div class="card text-white">
          <h5 class="card-header">Detaliile mele</h5>
          <div class="card-body">
            <p class="card-text">Nume :  {{ myProfile.username }}</p>
            <p class="card-text">Email :  {{ myProfile.email }}</p>

            <p class="card-text">
              Varsta:
              <ng-container *ngIf="myProfile.age; else missingAge">
                {{ myProfile.age }}
              </ng-container>
              <ng-template #missingAge>
                <mat-icon color="warn">error</mat-icon>
                Informatie lipsa

              </ng-template>
            </p>
            <p class="card-text">
              Telefon:
              <ng-container *ngIf="myProfile.phoneNumber; else missingPhoneNumber">
                {{ myProfile.phoneNumber }}
              </ng-container>
              <ng-template #missingPhoneNumber>
                <mat-icon color="warn">error</mat-icon>
                Informatie lipsa

              </ng-template>
            </p>
            <p class="card-text">
              Sex:
              <ng-container *ngIf="myProfile.sex; else missingPhoneNumber">
                {{ myProfile.sex }}
              </ng-container>
              <ng-template #missingPhoneNumber>
                <mat-icon color="warn">error</mat-icon>
                Informatie lipsa

              </ng-template>
            </p>
            <button mat-fab extended color="primary" (click)="enterEditMode()">
              Editeaza datele personale
              <mat-icon>border_color</mat-icon>
            </button>


          </div>
        </div>

      </div>
      </ng-container>
      <ng-template #editMode>
        <div class="user-info-card" style="width: 800px;">
          <div class="card text-white">
            <h5 class="card-header">Detaliile mele</h5>
            <div class="card-body">
              <div>
                <p class="card-text">Nume: </p>
                <mat-form-field>
                  <mat-label>Nume</mat-label>
                  <input required matInput  placeholder="Nume" name="Varsta" [(ngModel)]="myProfileUpdateRequest.username" min="18" max="90" >
                </mat-form-field></div>

              <div>
                <p class="card-text">Email: </p>
                <mat-form-field>
                  <mat-label>{{myProfile.email}}</mat-label>
                  <input disabled matInput  >
                </mat-form-field></div>
              <div>
                <p class="card-text">Varsta: </p>
                <mat-form-field>
                  <mat-label>Varsta</mat-label>
                  <input required matInput type="number" placeholder="Varsta" name="Varsta" [(ngModel)]="myProfileUpdateRequest.age" min="18" max="90" >
                </mat-form-field></div>
              <div >
                <p class="card-text">Telefon: </p>
                <mat-form-field>
                  <mat-label>Telefon</mat-label>
                  <mat-icon matSuffix color="primary">phone</mat-icon>
                  <input  matInput placeholder="Telefon" name="Varsta" [(ngModel)]="myProfileUpdateRequest.phoneNumber">
                </mat-form-field></div>
              <div>

              <p class="card-text">
                Sex:<br>
                <mat-form-field>
                  <mat-label>Sex</mat-label>
                  <mat-select required [(ngModel)]="myProfileUpdateRequest.sex">
                    <mat-option value="barbat">Masculin</mat-option>
                    <mat-option value="femeie">Feminin</mat-option>
                    <mat-option value="necunoscut">Prefer sa nu spun</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
                <div >
                <button mat-fab extended color="primary" (click)="goBack()">
                  Anuleaza
                  <mat-icon>arrow_back</mat-icon>
                </button>
                <button mat-fab extended color="accent" (click)="modifyUserDetails()">
                  Salveaza
                  <mat-icon>done</mat-icon>
                </button>
            </div>


            </div>
          </div>

        </div>
      </ng-template>
    </div>

</div>
<div *ngIf="showFeedbacks">
  <div class="feedback-section">
    <h2>Feedback-uri primite</h2>

    <div class="filter-section">
      <mat-form-field appearance="fill">
        <mat-label>Filtrează după rating</mat-label>
        <mat-select (selectionChange)="filterFeedbacks($event)">
          <mat-option *ngFor="let rating of ratings" [value]="rating">{{ rating }} stele</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="feedback-container">
      <div *ngFor="let feedback of filteredFeedbacks" class="feedback-card">
        <div class="feedback-header">
          <small>Postat pe {{ feedback.publishingDate}}</small>
        </div>
        <div class="feedback-body">
          <img *ngIf="!feedback.userProfilePicture" src="./assets/template_profile_picture.png" alt="user picture" class="user-pic" (click)="navigateToProfile(feedback.authorUUID)">
          <img *ngIf="feedback.userProfilePicture" [src]="feedback.userProfilePicture | bytesToImage" alt="user picture" class="user-pic" (click)="navigateToProfile(feedback.authorUUID)">
          <div class="feedback-rating">
            <mat-icon>star</mat-icon> {{ feedback.ratingGiven }}
          </div>
          <p>{{ feedback.message }}</p>
        </div>
      </div>
    </div>
</div>




<div *ngIf="!myProfile || loading">
  <mat-spinner></mat-spinner>
</div>
