<div class="row">
  <div >
    <label >
      <input type="file" accept="image/*" (change)="selectFile($event)" />
    </label>
  </div>

  <div class="col-4 d-flex align-items-end">
    <button  [disabled]="!currentFile" (click)="upload()">
      Upload
    </button>
  </div>
</div>


<div>
  <img [src]="preview" class="preview" />
</div>

@if (message) {
  <div class="alert alert-secondary" role="alert">
    {{ message }}
  </div>
}

<!--<div class="card">-->
<!--  <div class="card-header">List of Images</div>-->
<!--  <ul class="list-group list-group-flush">-->
<!--    @for (image of imageInfos | async; track image.name) {-->
<!--      <li class="list-group-item">-->
<!--        <p><a href="{{ image.url }}">{{ image.name }}</a></p>-->
<!--        <img ngSrc="{{ image.url }}" alt="{{ image.name }}" width="80px" height="80px" />-->
<!--      </li>-->
<!--    }-->
<!--  </ul>-->
<!--</div>-->
