@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.alert {
  width: 512px;
  padding: 16px;
  margin: 8px;
  max-width: 90%;
}
.alert-content {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}
.alert-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.alert-3-danger {
   color: #ff3838;
}
.input-button-wrapper{
  margin-left: 20px;
  margin-right: 20px;
}
button{
  margin-left: 20px;
}
.same-row{
  display: flex;
  align-items: center;
}
