<div *ngIf="!loading">
<div class="listings-container" *ngIf="listings.length > 0; else noListings">
  <div *ngFor="let listing of listings"
       [ngClass]="{'listing-active': isCurrentOrPast(listing.startDate, listing.endDate), 'listing-inactive': !isCurrentOrPast(listing.startDate, listing.endDate)}"
       class="listing">
    <img [src]="listing.mainPicture | bytesToImage" alt="{{listing.title}}" class="listing-image" (click)="navigateToListing(listing.listingUUID)">
    <div class="listing-details">
      <h2>{{ listing.title }}</h2>
      <p><strong>Sector:</strong> {{ listing.sector }}</p>
      <p><strong>Data de început a închirierii:</strong> {{ listing.startDate | date:'dd/MM/yyyy' }}</p>
      <p><strong>Data de sfârșit a închirierii:</strong> {{ listing.endDate | date:'dd/MM/yyyy' }}</p>
      <p><strong>Rating:</strong> {{ listing.rating }}</p>
      <p *ngIf="isCurrentOrPast(listing.startDate, listing.endDate)" class="active-parking">Puteți parca în acest moment</p>
      <p *ngIf="!isPast(listing.endDate) && !isCurrentOrPast(listing.startDate, listing.endDate)"><strong>Mai aveți:</strong> {{ daysUntil(listing.startDate) }} zile</p>
      <p *ngIf="isPast(listing.endDate)"><strong>Perioada in care puteati parca pe acest loc s-a terminat. Speram ca ati avut o experienta placuta!</strong> </p>
      <button *ngIf="isPast(listing.endDate)" (click)="openFeedbackDialog(listing)" class="feedback-button">Te rugăm să lași un feedback acestui anunț</button>
    </div>
  </div>
</div>
<ng-template #noListings>
  <div class="container">
    <div class="message-box">
  <h1>Nu aveți locuri de parcare rezervate.</h1>
    </div>
  </div>
</ng-template>
</div>
<div *ngIf="loading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
