.round-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative; /* Adăugat pentru a poziționa corect bulina de notificare */
}

.profile-picture {
  width: 100%;
  height: auto;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.profile-dropdown {
  width: 80px;
  height: auto;
  border-radius: 20%;
  position: relative;
  transition: box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card {
  background-color: #39a0ca;
}

.profile-dropdown:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.dropdown-content {
  display: block;
  position: absolute;
  text-align: center;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 0;
  z-index: 1;
  border-radius: 15px;
  border: 1px solid #ccc;
  left: -70px; /* Modificarea poziționării meniului la stânga */
  top: calc(100% + 5px); /* Afișare sub iconul de meniu */
}

.dropdown-content button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 12px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
  white-space: nowrap; /* Afișare text pe o singură linie */
  position: relative; /* Adăugat pentru a poziționa corect bulina de notificare */
}

.message-button .notification-badge {
  position: absolute;
  top: 0;
  right: -30px;
}

.dropdown-content button:hover {
  background-color: #f0f0f0;
}

.delete_account {
  margin-top: 30px;
}
