<div *ngIf="hasListings">
<div class="card-container">
  <mat-card *ngFor="let element of paginatedListings" class="listing-card">
    <img mat-card-image [src]="element.mainPicture | bytesToImage" alt="Imaginea anunțului">
    <mat-card-title>{{element.title}}</mat-card-title>
    <mat-card-content>
      <div class="listing-details">
        <div class="price">{{element.price | currency}}</div>
        <div class="sector-rating">
          <span>Sector {{element.sector}}</span>
          <span>Rating: {{element.rating || 'N/A'}}</span>
        </div>
      </div>
      <div class="status" [ngClass]="{
        'status-active': element.status === 'ACTIVE',
        'status-deactivated': element.status === 'DEACTIVATED',
        'status-pending': element.status === 'PENDING'
      }">
        Status : {{ element.status | translateStatus }}
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="same-row">
        <div class="input-button-wrapper">
          <button mat-flat-button color="primary" (click)="navigateToListing(element.listingUUID)">Vizualizează</button>
        </div>
        <div class="input-button-wrapper">
          <button mat-flat-button color="warn" (click)="deleteListing(element.listingUUID)">Șterge<mat-icon>perm_scan_wifi</mat-icon></button>
        </div>
      </div>
      <div class="input-button-wrapper">
        <button *ngIf="element.status === Status.ACTIVE" mat-flat-button color="accent" (click)="changeListingStatus(element)">Dezactiveaza anunt</button>
        <button *ngIf="element.status === Status.DEACTIVATED" mat-flat-button color="primary" (click)="changeListingStatus(element)">Activeaza anuntul</button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
</div>
<div *ngIf="!hasListings">
  <div class="container">
    <div class="message-box">
      <h1>Nu ați publicat niciun anunț.</h1>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
