<mat-card class="main-container">
  <div class="filter-quick-advanced">
    <div class="advanced-filter">
      <h2>Filtrare avansată   (aplicati unul sau mai multe filtre)</h2>
      <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
        <div class="form-row">
          <div class="form-field">
            <label for="sector">Alege sectorul</label>
            <mat-form-field>
              <mat-select formControlName="sector" id="sector">
                <mat-option *ngFor="let sector of [1, 2, 3, 4, 5, 6]" [value]="sector">{{ sector }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label for="startDate">Data de start</label>
            <mat-form-field>
              <input matInput [matDatepicker]="startPicker" formControlName="startDate" id="startDate" [min]="todayDate()" (dateChange)="updateEndDateMin($event.value)">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label for="endDate">Data de sfarsit:</label>
            <mat-form-field>
              <input matInput [matDatepicker]="endPicker" formControlName="endDate" id="endDate" [disabled]="filterForm.get('indefinitePeriod')?.value" [min]="minEndDate">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label for="maxDailyPrice">Preț maxim (RON/oră)</label>
            <mat-form-field>
              <mat-select formControlName="maxDailyPrice" id="maxDailyPrice">
                <mat-option *ngFor="let range of hourlyPriceRange" [value]="range">{{ range }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label for="maxMonthlyPrice">Preț maxim (RON/luna)</label>
            <mat-form-field>
              <mat-select formControlName="maxMonthlyPrice" id="maxMonthlyPrice">
                <mat-option *ngFor="let range of dailyPriceRange" [value]="range">{{ range }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-field">
          <label>
            <mat-checkbox formControlName="indefinitePeriod" id="indefinitePeriod" class="styled-checkbox">Caut pentru perioada nedeterminată de timp</mat-checkbox>
          </label>
        </div>
        <button mat-raised-button color="primary" type="submit">Apply Filter</button>
      </form>
    </div>

    <div class="quick-filter">
      <h2>Filtrare rapidă</h2>
      <div class="search-sort-container">
        <div class="form-field">
          <label for="searchTitle">Caută în funcție de titlu</label>
          <div class="search-bar">
            <mat-form-field>
              <input matInput (keyup)="applySearch($event)" placeholder="Search by title" id="searchTitle">
            </mat-form-field>
          </div>
        </div>
        <div class="form-field">
          <label for="sortBy">Sortare după</label>
          <div class="sort-bar">
            <mat-form-field>
              <mat-select (selectionChange)="applySort($event.value)" id="sortBy">
                <mat-option value="recent">Cel mai recent</mat-option>
                <mat-option value="cheap">Cel mai ieftin</mat-option>
                <mat-option value="rating">Cel mai mare rating</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="sort-tips">
          <p>Pentru rezultate optime, puteți folosiți filtrarea avansată și apoi adăuga filtre rapide.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <mat-card *ngFor="let element of paginatedListings" class="listing-card" [ngClass]="{ 'available': element.available, 'unavailable': !element.available }" (click)="onRowClick(element)">
      <img mat-card-image [src]="element.mainPicture | bytesToImage" alt="Listing image">
      <mat-card-title>{{element.title}}</mat-card-title>
      <mat-card-footer>
        <div class="listing-details">
          <div class="price">{{element.price | currency}}</div>
          <div class="sector-rating">
            <span>Sector {{element.sector}}</span>
            <span>Rating: {{element.rating || 'N/A'}}</span>
          </div>
          <div class="availability" *ngIf="element.available">
            Disponibil
          </div>
          <div class="availability" *ngIf="!element.available">
            Momentan Indisponibil
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>


  <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" (page)="changePage($event)"></mat-paginator>
</mat-card>
