<div class="user-profile-container" *ngIf="user">
  <div class="profile-header">
    <img class="profile-picture" *ngIf="user.hasProfilePicture" [src]="user.profilePictureBytes | bytesToImage" alt="Poza de Profil">
    <img class="profile-picture" *ngIf="!user.hasProfilePicture" src="./assets/template_profile_picture.png" alt="Poza de Profil">
    <div class="profile-info">
      <h1>{{ user.firstName }} {{ user.lastName }}</h1>
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
    </div>
  </div>
  <div class="profile-details">
    <p><strong>Număr de telefon:</strong> {{ user.phoneNumber }}</p>
    <p><strong>Vârstă:</strong> {{ user.age }}</p>
    <p><strong>Sex:</strong> {{ user.sex }}</p>
    <p><strong>Rating:</strong> <span class="rating">{{ user.rating }}</span></p>
    <p><strong>Utilizator de încredere:</strong> <span [ngClass]="{'trusted': user.isTrusted, 'not-trusted': !user.isTrusted}">{{ user.isTrusted ? 'Da' : 'Nu' }}</span></p>
  </div>
  <div class="button-container">
    <button class="btn-send-message" (click)="sendMessage()">Trimite mesaj</button>
    <button class="btn-view-listings" [routerLink]="['/userListings/', user.userUUID]">Vezi anunțurile utilizatorului</button>
    <button class="btn-view-feedback">Raporteaza</button>
  </div>
</div>
