<div class="container">
  <header>
    <div class="overlay">
      <h1>Parco</h1>
      <p class="main-message">Conectează-te pentru a accesa toate facilitățile Parco!</p>
      <p>Viitorul tău loc de parcare poate fi chiar lângă tine!</p>
    </div>
    <button mat-fab extended color="primary" (click)="login()">
      Conectează-te
    </button>
  </header>

  <section class="intro">
    <h2>Revoluționăm modul în care îți găsești și oferi locuri de parcare</h2>
    <p>Parco îți oferă posibilitatea de a închiria locuri de parcare într-un mod simplu și eficient. Găsește rapid un loc disponibil sau pune-ți locurile de parcare la dispoziția altora.</p>
  </section>

  <section class="advantages">
    <h2>De ce să îți faci cont pe Parco?</h2>
    <ul>
      <li class="advantage-item">Închiriază locuri de parcare rapid și ușor.</li>
      <li class="advantage-item">Oferă spre închiriere locurile tale disponibile.</li>
      <li class="advantage-item">Lasă ratinguri și recenzii pentru experiențe autentice.</li>
      <li class="advantage-item">Generează venituri suplimentare simplu și eficient.</li>
      <li class="advantage-item">Scapă de stresul căutării unui loc de parcare.</li>
    </ul>
  </section>

  <section class="revolution">
    <h2>Parco este mai mult decât o aplicație</h2>
    <p>Cu Parco, transformăm modul în care trăim în orașe. Tehnologia noastră inovatoare și comunitatea noastră de utilizatori te ajută să economisești timp și bani, reducând în același timp stresul și congestionarea urbană. Alătură-te revoluției Parco și descoperă cum viitorul locului de parcare poate fi chiar lângă tine.</p>
  </section>
</div>
